img {
	max-width: 100%;
}
html{font-size: 62.5%;} 
body {
	// font: $mainFont;
	font-family: $fontfamily-base;
	background: $backgroundColor;
	color: $typeDefault;
	// font-size: 10px;
	@include breakpoint($small) {
	}
}

#{headings()} {
	color: $headColor;
	font-weight: normal;
}

strong {
	font-weight: $bold;
}
