img {
     max-width: 100%;
}

body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
}

#{headings()} {
 font: $headFont;
 color: $headColor;
 font-weight: normal;
}

strong {
  font-weight: $bold;
}

p {
  font-weight: normal;
  padding-bottom: 14px;
}
