@mixin backImage(
  $image,
  $grDir: to bottom,
  $opStart: 0,
  $opEnd: 0,
  $bgPos: top center
  ) {
  background: linear-gradient(
    $grDir,
    rgba(0,0,0, $opStart),
    rgba(0,0,0, $opEnd)
  ),url($image);
  background-repeat: no-repeat;
  background-position: $bgPos; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} //backImage 

@mixin clearfix { 
  &:before,
  &:after {
    content: '';
    display: table;
  } //before, after
  &:after {
    clear: both;
  } //after
} //clearfix

@mixin transitionAll($duration:.2s) {
  transition: all $duration ease;
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -o-transition: all $duration ease;
  -ms-transition: all $duration ease;
}

//apple's transition transition: height 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99),z-index 0.1s 0s cubic-bezier(0.4, 0.01, 0.165, 0.99);

@mixin verticalCenter{
  display: flex;//vertical centering
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin translateZ{
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
} //force gpu rendering

@mixin capitalise($tracking){
  text-transform: uppercase;
  letter-spacing: $tracking;
}
@mixin stretching-background{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

@mixin shadow{
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

@mixin hrule {
  border-top: 1px solid #e4e4e4
}