@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);

@include border-box-sizing; //uses border box sizing like the old IE

$susy: (
  columns: 12,
  container: 1160px,
  gutters: 1/4,
  gutter-position: inside
);

$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;


//Add Color Palette
$blue       : #063642;
$green      : #45B29D;
$yellow     : #EFC94C;
$orange     : #E27A3F;
$red        : #DF4848;
$pink       : #CD0069;
$purple     : #6C71C4;
$dark       : #333;
$white		: #fff;
$light      : #f7f7f7;

$backgroundColor    : $light;
$typeDefault        : $dark;
$navBackground      : $blue;
$navForeground      : $light;
$navHover           : $yellow;
$navBrandBg         : $red;
$headersubbg        : $dark;

//Font variables
$fontfamily-base     : 'DIN Next W01 Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin     : 200;
$normal   : 400;
$bold     : 600;
$heavy    : 800;

$headFont   : normal 1.5em/1.5em 'DIN Next W01 Light';
$mainFont   : normal 1em/1.5em 'DIN Next W01 Regular';
$headColor  : $dark;

