#intro {
  margin: 0 auto;
  background-color: $light;
  background: url('../images/shop-tools.jpg');
  .container {
    color: #fff;
    @include container(1140px);
    @include clearfix;
    overflow: visible;
    #sidebar {
      position: relative;
      background: rgba(10,10,10,.8);
      .extendright {
        z-index: 0;
        padding-right: 3000px;
        margin-right: -3000px;
        position: absolute;
        top: 0; left:0; bottom:0; right: 0;
      }
      margin: 2rem 0;
      @include breakpoint($small) {@include span(12 of 12);}

      @include breakpoint($medium) {
        @include span(4 of 12 last);
      } //breakpoint      
      h1{
        font-family: 'DINNextW01-CondensedBol';
        font-size: 2.7rem;
        margin: 1.5rem 0 1em;
      }
      h2{
        font-family: 'DIN Next W01 Light';
        font-size: 1.8rem;
        margin: 1em 0 1em;
      }
      a{ 
        text-decoration: none;
        text-shadow: none;
        color: $white;
        display: inline-block;
        background: rgba(51,51,51, .2);
        padding: .0rem 1rem;
        border-radius: .5em;
        &:hover{
          text-decoration: underline;
        }
        
        &#marketPlaceHeaderPromotion{
          text-decoration: none;
          transition: all 100ms ease-out;
          &:hover{
            background: #f7f7f7;
          }
          border-radius:0;
          display: block;
          padding: .75em 1em .5em;
          margin: 1em 0;
          text-align: center;
          font-size: 1.8em;
          text-transform: uppercase;
          color: #333;
          font-family: 'DIN Next W01 Regular';
          background: #ddd;
        }
      }
      p{
        font-family: 'DIN Next W01 Light';
        font-size: 1.4rem;
      }
    }
    .content{
      display:none;
      @include breakpoint($small) {display:block;}
      @include show-grid($susySmall);
      @include clearfix;      
      // @include span(12 of 12);
      @include gutterPad($medium);
      @include breakpoint($medium) {
        @include span(8 of 12);
        // @include bleed(gutter());
      } //breakpoint
      h1 {
        font-family: "DIN Next W01 Bold";
        font-size: 3.5rem;
        line-height: 1em;
        text-shadow: rgba(33, 33, 33, 0.15) 0 1px 0px;
        text-align: left;
        margin: 1em 0 .5em;
      } //h1

      h2 {
        font-family: "DIN Next W01 Light";
        margin: 1em 0 1em 0;
        font-size: 2.2rem;
        line-height: 1em;
      } //h2
     
      // p {
      //   font-family: "DIN Next W01 Regular";
      //   margin: 1em 0 0em 0;
      //   font-size: 1.4rem;
      //   line-height: 1em;
      // } //p
      #how{
        // @include span(8 of 8);

        // display: table;
        @include clearfix;
        a{
          color: #fff;
          font-size: 1.8rem;
          font-family: "DIN Next W01 Bold";
          padding: 1.2em 0 0.5em 0;
          font-weight: normal;
        }

        h3{
          font-family: "DIN Next W01 Bold";
          font-size: 2.2rem;
          @include capitalise(.02em);
          margin: 0;
          padding: 22.20081512px 0 0 0;      
        }
        h4{
          font-family: "DIN Next W01 Light";
          font-weight: normal;
          font-size: 27.74672897px;
          padding: 22.20081512px 0 22.20081512px 0;
          color: #fff;
          margin: 0;
        }
        p{
          font-size: 1.4rem;
          padding: 0 0 2em 0;
          line-height: 22px;
          font-family: "DIN Next W01 Light";      
        }
        div{
          display: table-cell;
          @include span(8 of 8);
          @include bleed(gutter());

          @include breakpoint($medium) {
            @include span(4 of 8);
          } //breakpoint      
        }
      }
    } //hgroup
  } //container
} //header