header #nav {
  @include clearfix;
  background: #333;
  width: 100%;
  z-index: 100;
  position:relative;
  //trying to make the ul swipeable on mobile
  // overflow-: hidden;

  .navbar {
    // @include container;
    position: absolute;
    background: $dark;
    left:0;
    right:0;
    @include breakpoint(0,$small) {
      overflow-y: hidden;
      overflow-x: scroll; 
      -ms-overflow-style: -ms-autohiding-scrollbar; 
      -webkit-overflow-scrolling: touch;  
    }
    @include breakpoint($small) {
      overflow-x: hidden;
    }
    .brand {
      @include span(4);
      float: left;
      font-weight: normal;
      font-family: $headFont;
      text-align: center;
      text-transform: uppercase;
      background: $navBrandBg;
      a {
        color: $navForeground;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: $mc6;
        font-size: .75em;

        @include breakpoint(max-width $small) {
          font-size: 1em;
          span {display: none;}
        }
      } //a
    } //brand
  
    .abs-wrapper{
      @include container;
    }
    ul {
      @include transitionAll();
      @include breakpoint(0 $small) {
        display: block;
        width: 480px; //patch, should be child width sum
        min-width: 100%;
        // overflow-y: hidden; 
        // overflow-x: scroll; //cause a horizontal scrollbar
        -ms-overflow-style: -ms-autohiding-scrollbar; 
        -webkit-overflow-scrolling: touch;       
      }

      // @include span(12 at 0 of 12);
      li {
        // float: left;
        display: inline-block;
        @include breakpoint($small) {
          @include with-layout(4 .0) {
            @include span(1 of 4);
          }
        } //breakpoint
        a {
          @include breakpoint($small) { @include transitionAll(0.2s); }
          display: block;
          font-size: 1.3rem;
          padding: 1.4em 1.25em 1.2em;
          text-decoration: none;
          color: $navForeground;
          
          @include breakpoint($small) {
            // font-size: 1.4rem;
          }
          
          @include capitalise(0.065em);

          &:hover {
            background-color: $light;
            color: $dark;
          } //hover
        
          &.active {
            background-color: $light;
            color: $dark;
            // font-family: "DIN Next W01 Regular";
            #toolBundles {
              background-color: $white;           
            }
          }

        } //a
      } //li
    } //ul
  } //navbar
} //header #nav