.shoppingTools {
  header{
    display:none;
    @include breakpoint($medium) {
      display:block;
    }
  }
}

header{
  transition: all 100ms ease-out;
  @include breakpoint($medium) {
    // height:90px;
  }
  background: $light;
    @include clearfix;
    @include container(1140px);
    .brand {
      transition: all 100ms ease-out;
      background: transparent url('../images/logos/mbn-cobrand.svg');
      background-origin: content-box;      
      background-repeat: no-repeat;
      background-size: 300px 32px;
      background-size: contain;
      max-width: 300px;
      min-width: 300px;
      padding: 0 1.8rem;
      min-height: 48px;  
     @include breakpoint(min-width 740px) {
        min-height:90px;
        min-width: 300px;
      }

      background-position: 9% 60%;
      // @include span(12);
      float: left;
      font-weight: normal;
      @include breakpoint(min-width $small) {
        // @include span(8); 
      }
      @include breakpoint(min-width $medium) {
        // @include span(4);
      }
    } //brand

  ul.main-menu{

    display:none;
    height:0;
    @include breakpoint(min-width 740px) {
      display:block;
      height:auto;
      // @include span(8 of 12);
    }
    overflow: hidden;
    li {
      font-size:0;
      // float: left;
      display: inline-block;
      border-left: 1px solid #dadada;
      // &:last-child{border: none}
      @include breakpoint($small) {
        // @include with-layout(4 .0) {
        //   @include span(1 of 4);
        // }
      } //breakpoint
      a {
        transition: all 100ms ease-out;
        height: 0;
        @include breakpoint(min-width 740px) {
          height: auto;
        }

        display: block;
        @include capitalise(0.0em);
        font-size: 1rem;
        padding: 5.25rem 2rem 2rem 1rem;
        font-family: 'DIN Next W01 Regular';
        text-decoration: none;
        color: $dark;
        
        @include breakpoint($wide) {
          font-size: 1.2rem;
          padding: 5.25rem 4rem 1.5rem 1.5rem;
        }
        &:hover {
          background-color: #e4e4e4;
          color: $dark;
        } //hover
      
        &.active {
          background-color: $light;
          color: $dark;
        }
      } //a
    } //li
  } //ul
} //header
.menu-wrap{
  position: relative;
  width: 100%;
  z-index: 10;
  background: #333;
  #menu{
    @include clearfix;
    @include container(1140px);
    // @include gutterPad();
    border-bottom: 1px solid #3f3f3f;
    width: 100%;
    .logo{
      // padding-left:gutter-padding()
      @include span(4 of 12);
      h1#toolsLogo {
        @include capitalise(.05em);
        padding: 0rem 2em 1.2rem 0;
        position: relative;
        max-width: 9rem;
        font-size: 1.4rem;
        margin: 2rem -2em 0 0;
        color: white;
        @include capitalise(.01em);
        font-family: "DIN Next W01 Medium";
        font-weight: normal;
        @include breakpoint($small) {
          font-size: 1.8rem;
          max-width: 10rem;
        }
        span{
          font-family: "DIN Next W01 Light";
          display: inline-block;
          position: absolute;
          right: 0;
          font-size: 7px;
          @include capitalise(.12em);
          line-height: 1em;
          span{
            line-height: 7px;
            top: 1em;
            right: auto;
          }
        } //span
      } //h1
    } //logo
  } //#menu
  .login-container{
   .mobile-nav-toggle {
      display:block;
      @include breakpoint($medium) {display: none}
   }
    @include span(4 of 12 last);
      text-align: right;
    a{
      background:#3f3f3f;
      color:#white;
      display:none;
      @include breakpoint($medium) {display: inline-block}
      cursor:pointer;
      transition: all .5 easy-out;
      &:hover {
        color: #3F3F3F;
        background-color: $white;
      }
      font-size: 1.8rem;
      font-family:"DIN Next W01 Regular";
      color: white;
      position: relative;
      padding: 2rem 3.6rem 1.2rem;
      margin-right: -1.8rem;
      position: relative;
    }
  }
}

.container{
  overflow: hidden;
  .transformer{
    &.is-open{
      transform: translate3d(260px, 0, 0);
    }
  }
}

.off-canvas {
  background: #333;
  position: absolute;
  width: 260px;
  left: -260px;
  top: 0;
  bottom: 0;
}

#nav {
  background: rgba(51, 51, 51, 0.9);
  width: 100%;
  z-index: 100;
  position:relative;
  //trying to make the ul swipeable on mobile
  // overflow-: hidden;

  .navbar {
    position: absolute;
    // background: $dark;
    left:0;
    right:0;
    top:0px;
    @include breakpoint(0,$small) {
      overflow-y: hidden;
      overflow-x: scroll; 
      -ms-overflow-style: -ms-autohiding-scrollbar; 
      -webkit-overflow-scrolling: touch;  
    }
    @include breakpoint($small) {
      // overflow-x: hidden;
    }
  
    .abs-wrapper{
    }
    ul.categoriesMenu {
      @include transitionAll();
      @include container(1140px);
      @include clearfix;
      @include breakpoint(0 $small) {
        display: block;
        width: 480px; //patch, should be child width sum
        min-width: 100%;
        // overflow-y: hidden; 
        // overflow-x: scroll; //cause a horizontal scrollbar
        -ms-overflow-style: -ms-autohiding-scrollbar; 
        -webkit-overflow-scrolling: touch;
      }
      li {
        // float: left;
        display: inline-block;
        @include breakpoint($small) {
          @include with-layout(4 .0) {
            @include span(1 of 4);
          }
        } //breakpoint
        a {
          display: block;
          @include capitalise(0.065em);
          font-size: 1.3rem;
          padding: 1.4em 1.25em 1.2em;
          text-decoration: none;
          color: $navForeground;
          
          @include breakpoint($medium) {
              @include transitionAll(0.2s);
              font-size: 1.4rem;
          }
          

          &:hover {
            background-color: $light;
            color: $dark;
          } //hover
        
          &.active {
            background-color: $light;
            color: $dark;
            // font-family: "DIN Next W01 Regular";
            #toolBundles {
              background-color: $white;           
            }
          }

        } //a
      } //li
    } //ul
  } //navbar
} //header #nav