  header{
    @include clearfix;
    @include container(1140px);
    .brand {
      background: transparent url('../images/logos/mbn-cobrand.svg');
      background-origin: content-box;      
      background-repeat: no-repeat;
      background-size: 300px 32px;
      background-size: contain;
      max-width: 300px;
      min-width: 150px;
      min-height: 94px;
      background-position: 9% 60%;
      @include span(11);
      float: left;
      font-weight: normal;
      @include breakpoint(min-width $small) {
        @include span(6);
      }
      @include breakpoint(min-width $medium) {
        @include span(6);
      }

    } //brand

  ul.main-menu{
    @include span(8 of 12);
    overflow: hidden;
    li {
      font-size:0;
      // float: left;
      display: inline-block;
      border-left: 1px solid #dadada;
      // &:last-child{border: none}
      @include breakpoint($small) {
        // @include with-layout(4 .0) {
        //   @include span(1 of 4);
        // }
      } //breakpoint
      a {
        // min-height: 90px;
        @include transitionAll(0.2s);
        display: block;
        @include capitalise(0.0em);
        font-size: 1rem;
        padding: 5.25rem 2rem 2rem 1rem;
        font-family: 'DIN Next W01 Regular';
        text-decoration: none;
        color: $dark;
        
        @include breakpoint($wide) {
          font-size: 1.2rem;
          padding: 5.25rem 4rem 1.5rem 1.5rem;
        }
        &:hover {
          background-color: #e4e4e4;
          color: $dark;
        } //hover
      
        &.active {
          background-color: $light;
          color: $dark;
        }
      } //a
    } //li
  } //ul
}
// #menu{
//   @include gutterPad();
//   border-bottom: 1px solid #3f3f3f;
//   @include span(12 of 12);
//   width: 100%;
//   h1#toolsLogo {
//     padding-left: (gutter()); // patch
//     margin: 0em -3em 0 0;
//     padding-right: 3em;
//     position: relative;
//     max-width: 6.5em;
//     color: white;
//     font-family: "DIN Next W01 Bold";
//     font-size: 1.8rem;
//     font-weight: normal;
//     padding-top: 2rem;
//     @include capitalise(.1em);
//     padding-bottom: .25em;
//     @include breakpoint($small) {
//       font-size: 2.4rem;
//     }
//     span{
//       font-family: "DIN Next W01 Bold";
//       font-family: "DINNextW01-CondensedMed";
//       display: inline-block;
//       position: absolute;
//       right: 0;
//       top: 2.1rem;
//       font-size: 1rem;
//       span{
//         font-family: "DINNextW01-CondensedMed";
//         line-height: 1em;
//         top: 1.0rem;
//         // margin-right: -0.05em;
//       }
//     }
//   } //h1
// }
#menu{
  @include clearfix;
  @include container(1140px);
  @include gutterPad();
  border-bottom: 1px solid #3f3f3f;
  width: 100%;
  .logo{
    @include span(8 of 12);
    h1#toolsLogo {
      padding-left: 0;
      margin: 0em -3em 0 0;
      padding-right: 3em;
      position: relative;
      max-width: 6em;
      color: white;
      font-family: "DIN Next W01 Bold";
      font-size: 1.8rem;
      font-weight: normal;
      padding-top: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding-bottom: 1rem;
      @include capitalise(.1em);
      padding-bottom: .25em;
      @include breakpoint($small) {
        font-size: 2.4rem;
      // padding-left: (gutter()); // patch
      }
      span{
        font-family: "DIN Next W01 Bold";
        font-family: "DINNextW01-CondensedMed";
        display: inline-block;
        position: absolute;
        right: 0;
        top: 2.1rem;
        font-size: 1rem;
        span{
          font-family: "DINNextW01-CondensedMed";
          line-height: 1em;
          top: 1.0rem;
          // margin-right: -0.05em;
        }
      }
    } //h1
  }

  .login-container{
    @include span(4 of 12 last);
      text-align: right;
    a{
      cursor:pointer;
      transition: all .5 easy-out;
      &:hover {
        background-color: #3F3F3F;
        color: $white;
      }
      font-size: 1.8rem;
      color: white;
      position: relative;
      display: inline-block;
      padding: 2rem 1.8rem 1.2rem;
      margin-right: -1.8rem;
      position: relative;
      display: inline-block;
    }
  }
}


.container{
  overflow: hidden;
  .transformer{
    &.is-open{
      transform: translate3d(260px, 0, 0);
    }
  }
}

.off-canvas {
  background: #333;
  position: absolute;
  width: 260px;
  left: -260px;
  top: 0;
  bottom: 0;
}

#nav {
  height:101px;
  background: #333;
  width: 100%;
  z-index: 100;
  position:relative;
  //trying to make the ul swipeable on mobile
  // overflow-: hidden;

  .navbar {
    @include clearfix;
    @include container(1140px);
    position: absolute;
    background: $dark;
    left:0;
    right:0;
    top:0px;
    @include breakpoint(0,$small) {
      overflow-y: hidden;
      overflow-x: scroll; 
      -ms-overflow-style: -ms-autohiding-scrollbar; 
      -webkit-overflow-scrolling: touch;  
    }
    @include breakpoint($small) {
      overflow-x: hidden;
    }
  
    .abs-wrapper{
      @include container(1140px);
      @include clearfix;
    }
    ul {
      @include transitionAll();
      @include breakpoint(0 $small) {
        display: block;
        width: 480px; //patch, should be child width sum
        min-width: 100%;
        // overflow-y: hidden; 
        // overflow-x: scroll; //cause a horizontal scrollbar
        -ms-overflow-style: -ms-autohiding-scrollbar; 
        -webkit-overflow-scrolling: touch;
      }
      li {
        // float: left;
        display: inline-block;
        @include breakpoint($small) {
          @include with-layout(4 .0) {
            @include span(1 of 4);
          }
        } //breakpoint
        a {
          display: block;
          @include capitalise(0.065em);
          font-size: 1.3rem;
          padding: 1.4em 1.25em 1.2em;
          text-decoration: none;
          color: $navForeground;
          
          @include breakpoint($medium) {
              @include transitionAll(0.2s);
              font-size: 1.4rem;
          }
          

          &:hover {
            background-color: $light;
            color: $dark;
          } //hover
        
          &.active {
            background-color: $light;
            color: $dark;
            // font-family: "DIN Next W01 Regular";
            #toolBundles {
              background-color: $white;           
            }
          }

        } //a
      } //li
    } //ul
  } //navbar
} //header #nav