.purchase-summary{
  .hero-area {
    margin: 0 auto;
    background-color: $info;
    color: #333;

    .container {
      @include container(1140px);
      @include clearfix;
      overflow: visible;
      .content{
        // @include gutterPad($medium);
        @include clearfix;
        padding:0;
        @include span(12 of 12 nest);
        @include breakpoint($medium) {
          display:block;
        } //breakpoint
        h1 {
          @include breakpoint($medium) {
            @include push(2);
            @include span(8 of 12);
          }
          font-family: "DIN Next W01 Bold";
          font-size: 2.8rem;
          line-height: 1em;
          text-transform: uppercase;
          text-align: left;
          margin: 2.2rem 0 .0em;
        } //h1

        h2 {
          @include breakpoint($medium) {
          clear:both; 
          @include push(2);
          @include span(8 of 12);
        }
          font-family: "DIN Next W01 Light";
          margin: 1em 0 0em 0;
          font-size: 2.2rem;
          line-height: 1em;
        } //h2
       
        p {
          clear:both;
          @include breakpoint($medium) {
            @include push(2);
            @include span(8 of 12);
          }
          font-family: "DIN Next W01 Regular";
          margin: 1em 0 0em 0;
          font-size: 1.5rem;
          line-height: 1.5em;
          margin-bottom: 2em;
        } //p

      } //.content
      hr{
        margin: 0 0 0 gutter();
        opacity: .5; 
      }
    } //container
  } //header
  .content {
    // background:white;
    @include container(1140px);
    text-align: left;
    @include breakpoint($small) {
      @include clearfix;
    }
    .headings{
      // color: red;
      // margin-left:1.8rem;//patch
      // margin-right:1.8rem;
      @include clearfix;
      @include gutterPad();
      @include breakpoint($medium) {
        border-top: none;
        @include push(2);
        @include span(8 of 12 nest);
      } //breakpoint
      @include breakpoint($wide) {
        border-top: none;
        @include push(2);
        @include span(8 of 12 nest);
      } //breakpoint



      // padding-bottom: 1.25em;
      border-bottom: 1px solid #e4e4e4;
      h1 {
        font-family: "DIN Next W01 Light";
        font-size: 2.8rem;
        font-weight: normal;
        padding-top: 3.5rem;
        padding-bottom: .25em;
        @include breakpoint($small) {
          font-size: 3.5rem;
        }
      } //h1
      h2 {
        font-family: "DIN Next W01 Light";
        // font-family: "DINNextLTW01-UltraLight 706122";
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: normal;
        margin: 0 0 .5em;

        @include breakpoint($small) {
          font-size: 1.8rem;
          line-height: 1.2;
          padding: 0 0 0.5em;
          margin: 0;
        } 
      }//h2
    }
    .gallery {
      // @include bleed(gutter());
      @include clearfix;
      @include breakpoint($small) {
        @include gallery(2 of 2 nest);
      }
      @include breakpoint($wide) {
        @include gallery(12 of 12 nest);
      }

      .module{
        @include gutterPad();
        @include breakpoint($medium) {
          border-top: none;
          @include push(2);
          @include span(8 of 12 nest);
        } //breakpoint
        @include breakpoint($wide) {
          border-top: none;
          @include push(2);
          @include span(8 of 12 nest);
        } //breakpoint


        font-size: 1rem;
        @include breakpoint($small) {
          font-size: 1.15rem;
        }
        #{headings(2,3)}{font-size:1.15em}

        @include breakpoint($small) {
          border-top: none; 
          &:hover{
            // background-color: $white;
            box-shadow:none;
          }
        }

        @include breakpoint($medium) {
          font-size: 1.8rem;
          margin-bottom:2.2rem;
        }
        h1{
          text-align: left;
          font-family: "DIN Next W01 Medium";
          font-size: 1.4rem;
          line-height:1em;
          position:relative;
          margin: 1em -8rem 1.14em 0;
          padding-right: 8rem;
          padding-top: 1em;
          margin-bottom: 1.3rem;
          width: 100%;
          @include capitalise(.02em);
          span{
            display: inline-block;
            position: absolute;
            right: 0;
            top: 1em;
            width: 8rem;
            span{
              font-family: "DIN Next W01 Medium";              
              font-size: .66em;
              line-height: 1em;
              @include capitalise(.02em);
              margin-right: -0.05em;
              margin-top: 1.4em;
              left: 0;
              right: 0;
              color: #666;
              top: 0;
              width: 100%;
            }
          }
        }

        h2{
          &.existing-tool{
            color: #999;
          }
          position:relative;
          width: 100%;
          font-size: 2.2rem;
          font-family: "DIN Next W01 Light";
          line-height:1.2 !important;
          padding-right:8rem;
          margin: 0 -8rem .5em 0;
          &.bundle-title{
            text-transform: uppercase;
          }

          span{
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0rem;
            width: 8rem;
            text-align: right;
            font-family: "DIN Next W01 Light";
            &.licences{
              color:#666;
              text-align:left;
              display:inline;
              position:relative;
              font-size:.75em;
            }
          }
          &.flush-right{
            &.bordered{
                border-top: 1px solid #dadada;
              }
            padding-top: 1em;
            text-align: right;
            font-family: "DIN Next W01 Light";
            &.bold{
              font-family: "DIN Next W01 Medium";            
            }
            span{
              padding-top: 1em;
            }
            &.final-price{
              border-top: 1px solid #dadada;
              margin-top: 1.5em;
              margin-bottom: 0;
              padding-top: 1em;
              padding-bottom: .75em;
              span{
                padding-top: 1em;
              }
            }

            // margin-right: 10rem;
            // padding-right: 10rem;
            @include clearfix;
            
            span{
              text-align: right;
              font-family: "DIN Next W01 Light";
              &.secondline{
                right: 0;
                font-size: .65em;
                width: 100%;
                margin-top: 2.2em;
                margin-right: 8rem;
                font-family: "DIN Next W01 Regular"  !important;  
                color:#666;
              }
            }
            &.bold span{
              font-family: "DIN Next W01 Medium";
            }
          }
        }

        h3{
          font-family: "DIN Next W01 Regular";
          width:100%;
          font-size: 1.6rem;
          margin-top: 0.5em;
          // padding-left: 1.8rem;
          position: relative;
          margin-right: -8rem;
          padding-right: 8rem;
          span{
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0rem;
            width: 8rem;
            text-align: right;
            font-family: "DIN Next W01 Medium";
           &.licences{
              color:#666;
              text-align:left;
              display:inline;
              position:relative;
              font-size:.75em;
              }
          }
        }

        h4{
          margin-top: 1em;
          margin-bottom: 1.5em;
          position:relative;
          width: 100%;
          font-size: 2.2rem;
          font-family: "DIN Next W01 Light";
          line-height:1.2 !important;
        }
        
        h5{
          border-top: 1px solid #dadada;
          padding: 1em 0;
        }

        h6{
          border-top: 1px solid #dadada;       
          text-align: center;
          display: block;
          font-family: "DIN Next W01 Regular";
          font-size: 1.4rem;
          margin-bottom: 0;
          padding: 1em;
          background: rgba(228, 228, 228, 0.33);
        }
      }

      .payment-plan{
        margin-top: 0;
        // margin-left:0;
        // border: none;
        min-height:14em;
        @include breakpoint($medium) {
          &:nth-child(odd){
            @include push(2);
          }
          @include span(8 of 12 nest);
        } //breakpoint

        div{
          border: 1px solid #dadada;
          background: white;
          padding-bottom: 1.8rem;
          margin-bottom: 1.8rem;
          min-height:14em;
          @include gutterPad($medium);
          @include breakpoint($narrow) {
            min-height: 1.8rem;
          }
          @include breakpoint($medium) {
            min-height: 33rem;           
          }
          @include breakpoint($medium) {
            @include span(4 of 8);
            margin-bottom: 0rem;
            min-height: 26rem;
            &:nth-child(odd){
              margin-right:-1px;
            }
          }
        }


        h3{
          // font-family: "DINNextW01-LightItalic";
          width:100%;
          font-size: 1.6rem;
          font-family: "DIN Next W01 Regular";
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left:0 !important;
          // padding-left: 1.8rem;
          position: relative;
          margin-right: -12rem;
          padding-right: 12rem;
          span{
            font-family: "DIN Next W01 Regular";
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0rem;
            width: 12rem;
            text-align: right;
          }
        } //h3

        p{
          font-family: "DIN Next W01 Light";
          &.bold{
            font-family: "DIN Next W01 Medium";
          }
        }
      } //.payment-plan
    } //gallery
  } //.content
}