// Priceless
//******************************************************
#menu{
  @include gutterPad();
  border-bottom: 1px solid #3f3f3f;
  @include span(12 of 12);
  width: 100%;
  h1#toolsLogo {
    padding-left: (gutter()); // patch
    margin: 0em -3em 0 0;
    padding-right: 3em;
    position: relative;
    max-width: 6.5em;
    color: white;
    font-family: "DIN Next W01 Bold";
    font-size: 1.8rem;
    font-weight: normal;
    padding-top: 2rem;
    @include capitalise(.1em);
    padding-bottom: .25em;
    @include breakpoint($small) {
      font-size: 2.4rem;
    }
    span{
      font-family: "DIN Next W01 Bold";
      font-family: "DINNextW01-CondensedMed";
      display: inline-block;
      position: absolute;
      right: 0;
      top: 2.1rem;
      font-size: 1rem;
      span{
        font-family: "DINNextW01-CondensedMed";
        line-height: 1em;
        top: 1.0rem;
        // margin-right: -0.05em;
      }
    }
  } //h1
}

.scene {
  &:nth-child(odd){background-color: $white;}
  &:nth-child(even){background-color: $light;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

  &.bundles {background: $white}
  &.products{
    // background: $light;
    @include hrule;
  }

  .content {
    @include container(1140px);
    // border:1px solid #ff0;


    text-align: left;
    @include breakpoint($small) {
      // @include container;
      @include clearfix;
    }
  
    .headings{
      // padding-bottom: 1.25em;
      border-bottom: 1px solid #e4e4e4;
      @include gutterPad();
      h1 {
        font-family: "DIN Next W01 Bold";
        font-size: 1.8rem;
        font-weight: normal;
        padding-top: 6rem;
        padding-bottom: .25em;
        @include breakpoint($small) {
          font-size: 2.4rem;
        }
      } //h1
      h2 {
        font-family: "DIN Next W01 Light";
        // font-family: "DINNextLTW01-UltraLight 706122";
        font-size: 1.8rem;
        line-height: 1.2em;
        font-weight: normal;
        margin: 0 0 .5em;

        @include breakpoint($small) {
          font-size: 2.2rem;
          line-height: 1em;
          padding: 0 0 0.5em;
          margin: 0;
        }
      } //h2
    } //headings

    .gallery {
      // @include bleed(gutter());
      @include clearfix;
      @include breakpoint($small) {
      @include gallery(2 of 2);
      }
      @include breakpoint($wide) {
        @include gallery(12 of 12);
      }

      .shoptools-module{
        @include gutterPad();
        &:nth-of-type(2){ border-top: none; }
        font-size: 1rem;
        @include breakpoint($small) {
          font-size: 1.15rem;
        }
        #{headings(2,3)}{font-size:1.15em}

        @include breakpoint($small) {
          border-top: none; 
          &:hover{
            background-color: $white;
            @include single-box-shadow(0, 0, $mc9, 0, #dadada, false);
          }
        }

        @include breakpoint($medium) {
          font-size: 1.8rem;
          margin-bottom:2.2rem;
        }
        h1{
          text-align: left;
          font-family: "DIN Next W01 Regular";
          font-size: 1.4rem;
          line-height:1em;
          position:relative;
          margin: 1.45em -3em 1.14em 0;
          padding-right: 3em;
          margin-bottom: 1.3rem;
          width: 100%;
          @include capitalise(.02em);
          span{
            font-family: "DIN Next W01 Bold";
            font-family: "DINNextW01-CondensedMed";

            display: inline-block;
            position: absolute;
            right: 0;
            top: 0rem;
            span{
              font-family: "DINNextW01-CondensedMed";
              font-size: .8em;
              line-height: 3.8em;
              @include capitalise(.02em);
              margin-right: -0.05em;
            }
          }
        }
        h2{
          font-size: 1.5rem;
          font-family: "DIN Next W01 Light";
          @include breakpoint($medium) {font-size: 1.8rem;}         
          margin: 1em 0 0;
        }
        h3{
          // font-family: "DINNextW01-LightItalic";
          font-size: 1.5rem;
          margin-top: 0.5em;
        }
        a.btn{
          @include capitalise(0.02em);
          @include breakpoint($medium) {@include transitionAll;}
          display: block;
          font-size: 1.2rem;
          margin: 1em 0 2em;
          padding: 1em 2em .8em;
          background:$dark;
          color:$white;
          text-decoration: none;
          text-align: center;
          font-family: "DIN Next W01 Light";
          
          &:hover {
            z-index: 1000;
            background-color: darken($dark, 50%);
            color: $light;
          } //hover

          @include breakpoint($small) {
            text-align: left;
            display: inline-block;
          }//breakpoint small
        } //a.btn
        ul.logoArea{
          @include clearfix;
          background:$white;
          border-top:1px solid #e4e4e4;
          border-bottom:1px solid #e4e4e4;
          margin: 1.4rem 0;

          li{
            text-align:center;
            padding: 1.4rem 0;
          } //li
        } //ul
      }

      .bundle{
        @include breakpoint($narrow) {
          ul.logoArea>li{
              @include span(1 of 2);
          }//li          
        } //breakpoint
        @include breakpoint($small) {
          border-top: none;
          @include span($smallCols/2 of $smallCols);
          ul.logoArea>li{
              @include span(3 of 6);
          } //li          
        } //breakpoint
        @include breakpoint($medium) {
          @include span($mediumCols/2 of $mediumCols);
          ul.logoArea>li{
              @include span(3 of 6);
          } //li          
        } //breakpoint        
      } //bundle

      .product{
        // @include span($narrowCols of $narrowCols);
        @include breakpoint($small) {
          @include span(2 of 4);
          // &.single-product{@include span($smallCols/2 of $smallCols);}
        } //breakpoint
        @include breakpoint($medium) {
          @include span(4 of 8);
          // &.single-product{@include span($smallCols/3 of $smallCols);}
        }//breakpoint
        @include breakpoint($medium) {
          @include span(4 of 12);
          &.single-product{@include span($smallCols/3 of $smallCols);}
        }//breakpoint              
      }//product
    } //gallery
  } //.content
  
  &.benefits{
      .headings{
        h1 {
          padding-bottom: 1.3rem;
        }
        border: none;
        @include gutterPad;
      }

    ul#benefit-list{
      h2 {
        border-top: 1px solid #e4e4e4;
        // font-family: "DINNextLTW01-UltraLight 706122";
        font-family: 'DIN Next W01 Light';
        font-size: 1.8rem; 
        @include breakpoint($small) {
          font-size: 2.2rem; 
        }
        line-height: 1em;
        padding: .7em 0 1.25em;
        margin: 0;
      } //h2
      p{
        margin: 0 0 1em;
      }
      @include gutterPad;
      padding-bottom:$mc14;
      @include clearfix;
      li{
        @include breakpoint($small) {
          &:nth-child(2n+1){
            @include span(2 of 6 last);
          } 
          &:nth-child(even){
            @include span(2 of 6);
          }
        } //breakpoint
        @include breakpoint($medium) {

          &:nth-child(odd){
            @include span(4 of 12);
          } 
          &:nth-child(even){
            @include span(4 of 12 last);
          }
        } //breakpoint

      } //li
    } //ul
  } //benefits
}