.chevron-right{
	transition: transform 0.1s ease-out;
	height:12px;
	margin: 0 0 -1px 8px;
	width:7.7px;
	background-position: 50% 50% !important;
	display:inline-block;
	background-repeat: no-repeat !important;
	&.dark{
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDcuNyAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNy43IDEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNMCAxMC4zQzAgMTAuMiAwIDEwIDAuMSAxMGw0LTRsLTQtNEMwIDIgMCAxLjggMCAxLjdzMC0wLjIgMC4xLTAuM2wxLjItMS4yQzEuNSAwIDEuNiAwIDEuNyAwIEMxLjggMCAyIDAgMiAwLjFsNS41IDUuNUM3LjcgNS44IDcuNyA1LjkgNy43IDZjMCAwLjEgMCAwLjItMC4xIDAuM0wyIDExLjlDMiAxMiAxLjggMTIgMS43IDEyYy0wLjEgMC0wLjIgMC0wLjMtMC4xbC0xLjItMS4yIEMwIDEwLjUgMCAxMC40IDAgMTAuM3oiLz48L3N2Zz4=) no-repeat 50% 50%;
	}
	&.mc-yellow{
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3LjcgMTIiPjxwYXRoIGZpbGw9IiNGRkJCMzMiIGQ9Ik0wLDEwLjNDMCwxMC4yLDAsMTAsMC4xLDEwbDQtNGwtNC00QzAsMiwwLDEuOCwwLDEuN3MwLTAuMiwwLjEtMC4zbDEuMi0xLjJDMS41LDAsMS42LDAsMS43LDAgQzEuOCwwLDIsMCwyLDAuMWw1LjUsNS41QzcuNyw1LjgsNy43LDUuOSw3LjcsNmMwLDAuMSwwLDAuMi0wLjEsMC4zTDIsMTEuOUMyLDEyLDEuOCwxMiwxLjcsMTJjLTAuMSwwLTAuMiwwLTAuMy0wLjFsLTEuMi0xLjIgQzAsMTAuNSwwLDEwLjQsMCwxMC4zeiIvPjwvc3ZnPg==) no-repeat 50% 50%;
	}
	&.white{
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3LjcgMTIiPjxwYXRoIGZpbGw9IiNGN0Y3RjciIGQ9Ik0wLDEwLjNDMCwxMC4yLDAsMTAsMC4xLDEwbDQtNGwtNC00QzAsMiwwLDEuOCwwLDEuN3MwLTAuMiwwLjEtMC4zbDEuMi0xLjJDMS41LDAsMS42LDAsMS43LDAgQzEuOCwwLDIsMCwyLDAuMWw1LjUsNS41QzcuNyw1LjgsNy43LDUuOSw3LjcsNmMwLDAuMSwwLDAuMi0wLjEsMC4zTDIsMTEuOUMyLDEyLDEuOCwxMiwxLjcsMTJjLTAuMSwwLTAuMiwwLTAuMy0wLjFsLTEuMi0xLjIgQzAsMTAuNSwwLDEwLjQsMCwxMC4zeiIvPjwvc3ZnPg==) no-repeat 50% 50%;
	}
}