#priceless-hero {
	min-height: 500px;
	margin: 10px auto;
	background-color: $light;
	display: flex;
	align-items: center;
	justify-content: center;

	background: url('../images/herobanners/priceless-cities/lasVegas.jpg');

	&.miami{
		 background: url('../images/herobanners/priceless-cities/miami.jpg');
	}
	&.hawaii{
		 background: url('../images/herobanners/priceless-cities/Hawaii_landing-page-background-image.jpg');
	}
	&.la{
		 background: url('../images/herobanners/priceless-cities/Los-Angeles_landing-page-background-image_desktop-0407.jpg');
	}	
	&.nyc{
		 background: url('../images/herobanners/priceless-cities/NewYork_1920x596.jpg');
	}
	&.lasvegas{
		 background: url('../images/herobanners/priceless-cities/LasVegas_landing-page-background-image_V4.jpg');
	}
	.container {
		align-self: center;
		text-align: center;
	    color: #fff;
	    @include container(1140px);
	    @include clearfix;
		.content{
			@include show-grid($susySmall);
			@include clearfix;      
			// @include span(12 of 12);
			@include gutterPad($medium);
			@include breakpoint($medium) {
			@include span(12 of 12);
		// @include bleed(gutter());
		} //breakpoint
		h1 {
			@include capitalise(0.01em);      	
			font-family: "DIN Next W01 Bold";
			font-size: 3.5rem;
			line-height: 1em;
			text-shadow: rgba(33, 33, 33, 0.15) 0 1px 0px;
			margin: 1em 0 .5em;
		} //h1

		h2 {
			font-family: "DIN Next W01 Light";
			margin: 1em 0 1em 0;
			font-size: 2.2rem;
			line-height: 1em;
		} //h2
		a{
			padding: .75em 2em;
			background: #333;
			color: white;
			text-decoration: none;
			font-size: 1.8em;
			display: inline-block;
			text-transform: uppercase;
		}
    } //hgroup
  } //container
} //header